
SoulSong/obj/Debug/SoulSong_MarkupCompile.i.lref
SoulSong/obj/Debug/SoulSong_MarkupCompile.i.cache
SoulSong/obj/Debug/SoulSong.csproj.CoreCompileInputs.cache
SoulSong/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/SoulSong/v15/Server/sqlite3/storage.ide-wal
